<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExpediaFunctionalSuite">
  <test name="FunctionalTestcasesforflight" preserve-order = 'true'>
    <classes>
      <class name="TestCaseExpedia.ExpediaTestCase">
      <methods>
           <include name="flightreserve"></include>
           <include name="advanceflightreserver"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
